*
!templates/
!templates/default-template.zip
!templates/ecommerce-template.zip
!templates/dashboard-template.zip
!templates/cms-template.zip
!templates/landing-template.zip
!templates/portfolio-template.zip
!templates/wordpress-default.zip
!templates/shopify-default.zip
!design-systems/
!design-systems/substrate.zip
!design-systems/aperture.zip
!design-systems/botanica.zip
!design-systems/monolith.zip
!design-systems/noir.zip
!design-systems/bloom.zip
!design-systems/atrium.zip
!design-systems/sandstone.zip
!design-systems/halcyon.zip
!design-systems/carbon.zip
!design-systems/lumen.zip
!.gitignore
